# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pth
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environments
venv/
.env*
.vscode/

# Build, dist, and other dev output
build/
dist/
*.log

# Archives and compressed
*.zip
*.tar
*.tar.gz

# Data and large output folders
Data/
GSIR/
pano/
panogs/

# Exscene
Exscene/scene/
Exscene/runs/
Exscene/iframe_figures/

# Ignore large media
*.png
*.jpg
*.jpeg
*.tiff
*.bmp
*.gif
*.mp4
*.avi
*.mov
*.mkv

# Model files and checkpoints
*.h5
*.pt
*.ckpt
*.onnx

# 360monodepth cleanup
360monodepth/data/
360monodepth/_instaOmniDepth+output/
360monodepth/BoostingMonocularDepth/
360monodepth/midas/
360monodepth/imgs/
360monodepth/Dockerfile
360monodepth/README.md
360monodepth/.gitmodules

# 3DGS cleanup
3DGS/gaussian-splatting/output/
3DGS/gaussian-splatting/runs/
3DGS/gaussian-splatting/screenshots/
3DGS/gaussian-splatting/build/
3DGS/gaussian-splatting/tensorboard_3d/
3DGS/gaussian-splatting/diff_rasterization/dist/
3DGS/gaussian-splatting/diff_rasterization/diff_rast.egg-info/
3DGS/gaussian-splatting/submodules/
3DGS/gaussian-splatting/.gitignore
3DGS/gaussian-splatting/.gitmodules
3DGS/gaussian-splatting/README.md
3DGS/gaussian-splatting/requirements.txt
3DGS/gaussian-splatting/SIBR_viewers/

# Ignore HTML files
*.html
